.divider {
  width: 100%;
  height: 1px;
  background: #f3f3f3;
}

.cartItemContent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  padding: 12px 0;
}

.cartItemInfo {
  display: grid;
  grid-template-columns: 120px auto;
  column-gap: 12px;

  h3 {
    margin-bottom: 8px;
  }

  img {
    object-fit: cover;
    border-radius: 7px;
  }
}

.cartItemControl {
  display: grid;
  grid-template-columns: minmax(110px, 2fr) minmax(100px, 2fr) 1fr;
  justify-items: center;
  align-items: center;
  column-gap: 8px;
}

.cartItemQuantity {
  display: grid;
  grid-auto-flow: column;
  column-gap: 12px;
  h3 {
    transform: translateY(5px);
  }
}

.cartItemQuantityButton {
  height: 32px;
  width: 32px;
  border: 2px solid #333;
  border-radius: 30px;
  display: flex;
  justify-content: center;

  &:hover {
    cursor: pointer;
    opacity: 75%;
  }

  &:active {
    border: 2px solid #000;
  }

  &:disabled {
    cursor: default;
    opacity: 50%;
  }
}

.cartItemRemoveButton {
  height: 32px;
  width: 32px;
  border: 2px solid #b6b6b6;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  justify-self: end;

  img {
    transform: rotate(45deg);
    opacity: 45%;
  }

  &:hover {
    cursor: pointer;
    border: 2px solid #e87878;
    img {
      filter: invert(58%) sepia(12%) saturate(6854%) hue-rotate(323deg)
        brightness(97%) contrast(83%);
      opacity: 100%;
    }
  }
}
